body {
  background-color: #D1BCE3;
}

h1 {
  color: #482A65;
  margin-left: 20px;
  text-shadow: 2px 2px 5px #150c1d;
}

#cheeseburger {
  padding: 50px;
  border: 3px solid #000;
  background: #C49BBB;
}
