body {
  background-color: #D1BCE3;
  color: #f5f1f9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  color: white;
  margin-left: 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#cheeseburger {
  padding: 50px;
  border: 3px solid #000;
  background: #C49BBB;
}
